/* ============
GENERAL STYLES
============= */

body {
  font: 100% helvetica;
}

p {
  margin: 15px;
  }

/* =========================
BASIC STYLES FOR PROTOTYPING 
========================== */

section div {
  min-height: 250px;
  margin-bottom: 15px;
}

#collection div {
  background: lightblue;
  color: black;
  font: helvetica;
}

#visual div {
  background: rebeccapurple;
  color: white;
  font: helvetica;
}

#explained div {
  background: pink;
  color: black;
  font: helvetica;
}


/* ========================
FIXING MEDIA ISSUES
=========================== */

#collection img {
	width: 100%;
}

#visual img {
	width: 100%;
}

div.video-container {
  position: relative;
  width: 100%;
}

div.video-container iframe {
  position: absolute;
  top: 0; left: 0;
  margin-left: 15px;
  width: 80%;
  height: 80%;
}

/* ===============
GRID/LAYOUT STYLES 
================= */

section {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

@media screen and (min-width: 1080px) {
  #collection,
  #visual,
  #explained {
    grid-template-columns: 75% 25%;
  }
}