body 
{
  margin: 20px;
  font: 80% helvetica;
  text-align: block;
}

/* BASIC STYLES FOR PROTOTYPING */

section div
{
  min-height: 250px;
  margin-bottom: 15px;
}

#personal div 
{
  background: lightblue;
  color: black;
  font: helvetica;
}

#social div 
{
  background: rebeccapurple;
  color: white;
  font: helvetica;
}

#resources div 
{
  background: pink;
  color: black;
  font: helvetica;
}

#personal img 
{
	width: 100%;
}

#social img
{
	width: 100%;
}

/* GRID/LAYOUT STYLES */

section
{
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

@media screen and (min-width: 1080px) 
{
  #personal 
  {
    grid-template-columns: 400px 1fr;
  }
}