body {
  margin: 20px;
  font: 80% helvetica;
  text-align: block;
}

/* BASIC STYLES FOR PROTOTYPING */
section#personal div,
section#social div,
section#resources div {
  min-height: 250px;
  margin-bottom: 15px;
}
section#personal div {
  background: lightblue;
  color: black;
  font: helvetica;
}

#personal img {
  height: 150px; width 0px;
}

section#social div {
  background: rebeccapurple;
  color: white;
  font: helvetica;
}

#social img {
  height: 300px; width 0px;
}

section#resources div {
  background: pink;
  color: black;
  font: helvetica;
}

/* GRID/LAYOUT STYLES */

section#personal,
section#social,
section#resources {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

@media screen and (min-width: 1080px) {
  section#personal {
    grid-template-columns: 400px 1fr;
  }
}